<html>

<head>
	<!-- CODELAB: Add the install script here -->

	<link rel="manifest" href="pages/manifest.webmanifest">

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="application-name" content="Demenz">
	<meta name="apple-mobile-web-app-title" content="Demenz">
	<meta name="theme-color" content="#888888">
	<meta name="msapplication-navbutton-color" content="#888888">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="msapplication-starturl" content="/">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="ico" sizes="32x32" href="pages/iconw32.ico">
	<link rel="icon" type="ico" sizes="192x192" href="pages/iconw32.ico">
	<link rel="icon" type="ico" sizes="512x512" href="pages/iconw32.ico">
	<link rel="apple-touch-icon" type="ico" sizes="32x32" href="pages/iconw32.ico">
	<link rel="icon" type="ico" sizes="64x64" href="pages/iconw64">
	<link rel="apple-touch-icon" type="ico" sizes="64x64" href="pages/iconw64">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="pages/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="pages/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="pages/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="pages/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="pages/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="pages/css/owl.carousel.min.css">
	<link rel="stylesheet" href="pages/css/owl.theme.default.min.css">

	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="pages/css/style.css">
	<!-- Modernizr JS -->
	<script src="pages/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="pages/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2 text-center">
							<img src="pages/logo192.png" alt="Demenz App">
							<div id="colorlib-logo"><a href="index">Demenz App</a></div>
							<button class="add-button">Add to home screen</button>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li><a href="/overview">Test abbrechen</a></li>
								<li class="btn btn-cta"><a onclick="logout()">Ausloggen</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="intro">
							<h1 id="ausgabebereich">Kategorie: <a id="category"></a></h1>
							<div id="question"></div>
							<div id="auswertung">
								<h1><a>Test beendet</a></h1>
								<h1>Orientierung:<a id="orientationpoints"></a></h1>
								<h1>Merken:<a id="retentionpoints"></a></h1>
								<h1>Rechnen:<a id="mathpoints"></a></h1>
								<h1>Erinnerung:<a id="rememberpoints"></a></h1>
								<h1>Sprache:<a id="speakpoints"></a></h1>
								<h1>Gesamtpunkte:<a id="fullpoints"></a><a> von 30</a></h1><br>
								<p><a href="/overview" class="btn btn-primary btn-outline btn-md">Zurück zur Startseite</a></p>
								<br>
								<h3 class="whitefont">Keine Demenz: <a>28 bis 30 Punkte</a></h3>
								<h3 class="whitefont">Leichte kognitive Beeinträchtigung: <a>25 bis 27 Punkte</a></h3>
								<h3 class="whitefont">Leichte Demenz: <a>18 bis 24 Punkte</a></h3>
								<h3 class="whitefont">Mittelschwere Demenz: <a>10 bis 17 Punkte</a></h3>
								<h3 class="whitefont">Schwere Demenz: <a>Weniger als 9 Punkte</a></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>







		<footer id="colorlib-footer">

			<div class="container">
				<div class="row row-pb-md">


					<div class="col-md-3 colorlib-widget">
						<h4>Kontaktinformationen</h4>
						<ul class="colorlib-footer-links">
														<li>Mithunan Ragunathan | Dennis Haupt | Daniel Möller</li>
							<li>Hochschule-Ruhr-West <br> Duisburgerstr. 100 <br> Mülheim an der Ruhr</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								<small class="block"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small><br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	<!--<script src="pages/js/service-worker.js"></script>-->
	<!-- jQuery -->
	<script src="pages/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="pages/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="pages/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="pages/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="pages/js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="pages/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="pages/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="pages/js/jquery.magnific-popup.min.js"></script>
	<script src="pages/js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="pages/js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="pages/js/main.js"></script>
	<script src="pages/test.js"></script>
	<!-- end of service worker -->
</body>

</html>
