			<div class="container">
				<div class="row row-pb-md">


					<div class="col-md-3 colorlib-widget">
						<h4>Kontaktinformationen</h4>
						<ul class="colorlib-footer-links">
							<li>Hochschuhle-Ruhr-West <br> Duisburgerstr. 100 <br> Mülheim</li>
						</ul>
					</div>
				</div>
			</div>